[project]
name = "agentic-api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "agent-framework-ag-ui>=1.0.0b251120",
]
